body {
    background-color: white;
}
p {
    color: orange;
}
#paragraf {
    color: fuchsia;
}
a, span, div {
    background-color: lime;
}
li > a {
    background-color: goldenrod
}
ul a {
    background-color: blue;
}
h1 + p {
    color: pink;
}
h1 ~ p {
    color: aqua;
}

ul#lista >li:not(.last) {
    background-color: darkmagenta;
}

ul#lista >li:nth-child(3) {
    background-color: beige;
}